body {
    font-family: Arial, sans-serif;
background-color: aqua;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  #quiz-results {
    margin-top: 20px;
  }
  